node_modules
package-lock.json
public/styles/_albumSpecifications.scss
public/styles/_description.scss
public/styles/_footer.scss
public/styles/_gallery.scss
public/styles/_header.scss
public/styles/_mainBanner.scss
public/styles/_mainNav.scss
public/styles/_newsletter.scss
public/styles/_promo.scss
public/styles/_variables.scss
public/styles/main.css.map
public/styles/main.scss