node_modules
package-lock.json
productsDatabase.js

public/styles/home/_albumSpecifications.scss
public/styles/home/_body.scss
public/styles/home/_description.scss
public/styles/home/_footer.scss
public/styles/home/_gallery.scss
public/styles/home/_header.scss
public/styles/home/_mainBanner.scss
public/styles/home/_mainNav.scss
public/styles/home/_newsletter.scss
public/styles/home/_promo.scss
public/styles/home/_variables.scss
public/styles/home/main.css.map
public/styles/home/main.scss

public/styles/shop/_body.scss
public/styles/shop/_footer.scss
public/styles/shop/_ghostMerch.scss
public/styles/shop/_header.scss
public/styles/shop/_mainBanner.scss
public/styles/shop/_mainNav.scss
public/styles/shop/_variables.scss
public/styles/shop/shop.css.map
public/styles/shop/shop.scss