<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ghost - Prequelle</title>

    <link rel="stylesheet" href="/styles/main.css">
</head>

<body>
    <header class="header">
        <img class="header__mainImage" src="./resources/images/main_logo.png" alt="Ghost_Logo">
    </header>

    <section class="mainBanner">
        <article class="mainBanner__container">
            <h2 class="mainBanner__container__title">Prequelle</h2>
            <p class="mainBanner__container__p">Ghost’s fourth album is now available and is the first album to be
                recorded since the band's leader was officially confirmed to be Tobias Forge. Get the limited edition
                vinyl and the best Ghost merch by clicking on the button below!</p>
            <div class="mainBanner__container__button">Get Now</div>
        </article>
    </section>

    <nav class="mainNav">
        <ul class="mainNav__list">
            <li class="mainNav__list__li">Album</li>
            <li class="mainNav__list__li">Description</li>
            <li class="mainNav__list__li">Promo</li>
            <li class="mainNav__list__li">Gallery</li>
            <li class="mainNav__list__li">Social Media</li>
        </ul>
    </nav>

    <section class="description">
        <article class="description__infoContainer">
            <h2 class="description__infoContainer__title">Description</h2>
            <h4 class="description__infoContainer__h4">Vinyl</h4>
            <p class="description__infoContainer__p">Limited edition vinyl contains 10 of 12 songs, and a great vinyl
                design</p>
            <h4 class="description__infoContainer__h4">Deluxe CD</h4>
            <p class="description__infoContainer__p">Containts the remaining songs (It’s A Sin and Avalanche) and also
                have an exclusive CD design</p>
            <h4 class="description__infoContainer__h4">Bundle</h4>
            <p class="description__infoContainer__p">The bundle include album’s cover poster, a 3D lenticular cover art
                and 7 colored pins</p>
        </article>

        <img class="description__image" src="./resources/images/prequelle_vinyl.png" alt="">
    </section>

    <section class="albumSpecifications">
        <img class="albumSpecifications__image" src="./resources/images/album_cover.jpg" alt="">

        <article class="albumSpecifications__containerInfo">
            <h2 class="albumSpecifications__containerInfo__title">Album Specifications</h2>
            <div class="albumSpecifications__containerInfo__mainDiv">
                <div class="albumSpecifications__containerInfo__mainDiv__item">
                    <div>
                        <h4 class="albumSpecifications__containerInfo__mainDiv__item__name">Ghost</h4>
                        <p class="albumSpecifications__containerInfo__mainDiv__item__descrip">Prequelle</p>
                    </div>
                </div>

                <div class="albumSpecifications__containerInfo__mainDiv__item">
                    <div class="albumSpecifications__containerInfo__mainDiv__item__left">
                        <h4 class="albumSpecifications__containerInfo__mainDiv__item__left__name">Vinyl</h4>
                        <p class="albumSpecifications__containerInfo__mainDiv__item__left__descrip">Standard black
                            vinyl</p>
                    </div>

                    <div class="albumSpecifications__containerInfo__mainDiv__item__right">
                        <p class="albumSpecifications__containerInfo__mainDiv__item__right__prize">$25 USD</p>
                        <div class="albumSpecifications__containerInfo__mainDiv__item__right__button">Get Now</div>
                    </div>
                </div>

                <div class="albumSpecifications__containerInfo__mainDiv__item">
                    <div class="albumSpecifications__containerInfo__mainDiv__item__left">
                        <h4 class="albumSpecifications__containerInfo__mainDiv__item__left__name">CD</h4>
                        <p class="albumSpecifications__containerInfo__mainDiv__item__left__descrip">Deluxe CD, 3D Cover
                            Insert, 2 bonus tracks: It’s A Sin / Avalanche</p>
                    </div>

                    <div class="albumSpecifications__containerInfo__mainDiv__item__right">
                        <p class="albumSpecifications__containerInfo__mainDiv__item__right__prize">$15 USD</p>
                        <div class="albumSpecifications__containerInfo__mainDiv__item__right__button">Get Now</div>
                    </div>
                </div>

                <div class="albumSpecifications__containerInfo__mainDiv__item">
                    <div class="albumSpecifications__containerInfo__mainDiv__item__left">
                        <h4 class="albumSpecifications__containerInfo__mainDiv__item__left__name">Cassette</h4>
                        <p class="albumSpecifications__containerInfo__mainDiv__item__left__descrip">Limited edition
                            Prequelle cassette tape</p>
                    </div>

                    <div class="albumSpecifications__containerInfo__mainDiv__item__right">
                        <p class="albumSpecifications__containerInfo__mainDiv__item__right__prize">$10 USD</p>
                        <div class="albumSpecifications__containerInfo__mainDiv__item__right__button">Get Now</div>
                    </div>
                </div>

                <div class="albumSpecifications__containerInfo__mainDiv__item">
                    <div class="albumSpecifications__containerInfo__mainDiv__item__left">
                        <h4 class="albumSpecifications__containerInfo__mainDiv__item__left__name">24-bit WAV</h4>
                        <p class="albumSpecifications__containerInfo__mainDiv__item__left__descrip">24-bit Lossless</p>
                    </div>

                    <div class="albumSpecifications__containerInfo__mainDiv__item__right">
                        <p class="albumSpecifications__containerInfo__mainDiv__item__right__prize">$15 USD</p>
                        <div class="albumSpecifications__containerInfo__mainDiv__item__right__button">Get Now</div>
                    </div>
                </div>

                <div class="albumSpecifications__containerInfo__mainDiv__item">
                    <div class="albumSpecifications__containerInfo__mainDiv__item__left">
                        <h4 class="albumSpecifications__containerInfo__mainDiv__item__left__name">WAV / FLAC</h4>
                        <p class="albumSpecifications__containerInfo__mainDiv__item__left__descrip">16-bit Lossless</p>
                    </div>

                    <div class="albumSpecifications__containerInfo__mainDiv__item__right">
                        <p class="albumSpecifications__containerInfo__mainDiv__item__right__prize">$12 USD</p>
                        <div class="albumSpecifications__containerInfo__mainDiv__item__right__button">Get Now</div>
                    </div>
                </div>

                <div class="albumSpecifications__containerInfo__mainDiv__item">
                    <div class="albumSpecifications__containerInfo__mainDiv__item__left">
                        <h4 class="albumSpecifications__containerInfo__mainDiv__item__left__name">MP3</h4>
                        <p class="albumSpecifications__containerInfo__mainDiv__item__left__descrip">320 kbps, LAME
                            encoded</p>
                    </div>

                    <div class="albumSpecifications__containerInfo__mainDiv__item__right">
                        <p class="albumSpecifications__containerInfo__mainDiv__item__right__prize">$25 USD</p>
                        <div class="albumSpecifications__containerInfo__mainDiv__item__right__button">Get Now</div>
                    </div>
                </div>
            </div>
        </article>
    </section>

    <section class="promo">
        <article class="promo__infoContainer">
            <h2 class="promo__infoContainer__title">Meliora</h2>
            <p class="promo__infoContainer__p">Exclusive bundle edition of Ghost’s album Meliora is back! Include album’s cover, black vinyl, deluxe CD and other awesome stuff from the clergy.</p>
            <div class="promo__infoContainer__button">Get Now</div>
        </article>
    </section>

    <section class="gallery">
        <h2 class="gallery__title">Gallery</h2>
        <div class="gallery__imageContainer">
            <div class="gallery__imageContainer__smallImageContainer">
                <img src="/resources/images/gallery/gallery-1.png" alt="" class="gallery__imageContainer__smallImageContainer__smallImage">
                <img src="/resources/images/gallery/gallery-2.png" alt="" class="gallery__imageContainer__smallImageContainer__smallImage">
            </div>
            <img src="/resources/images/gallery/gallery-3.png" alt="" class="gallery__imageContainer__bigImage">
        </div>
        <div class="gallery__imageContainer">
            <img src="/resources/images/gallery/gallery-4.png" alt="" class="gallery__imageContainer__bigImage">
            <div class="gallery__imageContainer__smallImageContainer">
                <img src="/resources/images/gallery/gallery-5.png" alt="" class="gallery__imageContainer__smallImageContainer__smallImage">
                <img src="/resources/images/gallery/gallery-6.png" alt="" class="gallery__imageContainer__smallImageContainer__smallImage">
            </div>
        </div>
        <div class="gallery__imageContainer">
            <div class="gallery__imageContainer__smallImageContainer">
                <img src="/resources/images/gallery/gallery-7.jpg" alt="" class="gallery__imageContainer__smallImageContainer__smallImage">
                <img src="/resources/images/gallery/gallery-8.png" alt="" class="gallery__imageContainer__smallImageContainer__smallImage">
            </div>
            <img src="/resources/images/gallery/gallery-9.png" alt="" class="gallery__imageContainer__bigImage">
        </div>
    </section>

    <section class="newsletter">
        <hr class="newsletter__divider">
        <div class="newsletter__mainContainer">
            <h2 class="newsletter__mainContainer__title">Subscribe to our newsletter</h2>
            <p class="newsletter__mainContainer__description">Be aware about the latest Ghost’s news. Receive information about tours, offers, and more about Ghost</p>
            <div class="newsletter__mainContainer__inputContainer">
                <input class="newsletter__mainContainer__inputContainer__field" type="text" placeholder="E-mail">
                <button class="newsletter__mainContainer__inputContainer__button" type="submit">Submit</button>
            </div>
        </div>
        <hr class="newsletter__divider">
    </section>

    <footer class="footer">
        <section class="footer__socialMediaContainer">
            <h2 class="footer__socialMediaContainer__title">Join the clergy</h2>
            <hr class="footer__socialMediaContainer__divider">
            <div class="footer__socialMediaContainer__imageDiv">
                <img class="footer__socialMediaContainer__imageDiv__image" src="/resources/icons/facebook-icon.png" alt="Facebook">
                <img class="footer__socialMediaContainer__imageDiv__image" src="/resources/icons/instagram-icon.png" alt="Instagram">
                <img class="footer__socialMediaContainer__imageDiv__image" src="/resources/icons/twitter-icon.png" alt="Twitter">
            </div>
        </section>

        <section class="footer__logoContainer">
            <img class="footer__logoContainer__image" src="/resources/icons/footer-logo-icon.png" alt="">
        </section>

        <section class="footer__copyrightContainer">
            <p class="footer__copyrightContainer__p">Copyright 1999 - 2018</p>
            <p class="footer__copyrightContainer__p">All rights reserved. Powered by <span class="footer__copyrightContainer__p__span">Chefcito</span></p>
        </section>
    </footer>

    <!--
    <ul>
        {{#each products}}
            <li>{{name}}</li>
        {{/each}}
    </ul>
    -->
</body>

</html>