<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ghost - Merch</title>

    <link rel="stylesheet" href="/styles/shop/shop.css">
</head>
<body>
    <header class="header">
        <img class="header__logo" src="/resources/images/main_logo.png" alt="Ghost_Logo">
        <ul class="header__ul">
            <li  class="header__ul__li ">Featured</li>
            <li  class="header__ul__li">Albums</li>
            <li  class="header__ul__li">Tours</li>
            <button  class="header__ul__button goToShopButton">GHOST MERCH</button>
        </ul>
    </header>

    <section class="mainBanner">
        <article class="mainBanner__container">
        </article>
    </section>

    <nav class="mainNav">
        <ul class="mainNav__list">
            <li class="mainNav__list__li">Prequelle Album</li>
            <li class="mainNav__list__li">Ghost Merch</li>
            <button class="mainNav__list__button">MY CART</button>
        </ul>
    </nav>

    <section class="ghostMerch">
        <h2 class="ghostMerch__title">Ghost Merch</h2>
        <div class="ghostMerch__title__productsContainer"></div>
    </section>

    <footer class="footer">
        <section class="footer__socialMediaContainer">
            <h2 class="footer__socialMediaContainer__title">Join the clergy</h2>
            <hr class="footer__socialMediaContainer__divider">
            <div class="footer__socialMediaContainer__imageDiv">
                <img class="footer__socialMediaContainer__imageDiv__image" src="/resources/icons/facebook-icon.png" alt="Facebook">
                <img class="footer__socialMediaContainer__imageDiv__image" src="/resources/icons/instagram-icon.png" alt="Instagram">
                <img class="footer__socialMediaContainer__imageDiv__image" src="/resources/icons/twitter-icon.png" alt="Twitter">
            </div>
        </section>

        <section class="footer__logoContainer">
            <img class="footer__logoContainer__image" src="/resources/icons/footer-logo-icon.png" alt="">
        </section>

        <section class="footer__copyrightContainer">
            <p class="footer__copyrightContainer__p">Copyright 1999 - 2018</p>
            <p class="footer__copyrightContainer__p">All rights reserved. Powered by <span class="footer__copyrightContainer__p__span">Chefcito</span></p>
        </section>
    </footer>
</body>
</html>